<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></buttoicon n>
        </div>
        <h1 class="title text-center">费南雪蛋糕</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1.jpg">
            </div>
            <div class="item item-body">
                <p>满满的金融家气质，费南雪蛋糕</p>
                <p>
                    <a href="#" class="subdued">蛋糕的变化层出不穷，一款蛋糕的名字背后往往有着一段故事，费南雪蛋糕也不例外，他是一款金黄小巧，便于携带，不容易掉渣在身上，能随时保持你的优雅又同时能满足你的味蕾的绝佳选择——他就是费南雪蛋糕。</a>
                </p>
            </div>

        </div>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1-1.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1-2.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1-3.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1-4.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1-5.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner1-6.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>费南雪也译作杏仁长蛋糕，源自法语词汇Financier，本义为金融家，富翁，财政家的意思，中文翻译中常称它为“费南雪”。相传巴黎证交所附近的西饼屋为那些金融家们准备的点心。寓意深远。一，是其形状象金条。所以备受金融家的喜爱；二，是食用方便，也不会弄脏衣服。但其实费南雪最原始的配方源自一款叫做"visitandine"的蛋糕，由Visitation修道院的修女们独创。然而被一个名叫Lasne的烘焙师拿来，而且根据自己烘焙店的所在地和顾客群，将其改头换面，做成金条形状，换上和金融有关的新名字"financier"，转眼就成了他名下的一款法国经典点心。
                </p>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>费南雪中含有的杏仁粉,杏仁粉营养价值相当高，蛋白质、钾、维生素及矿物质含量丰富，而且还具有温和清洁与滋养修护肌肤美白的功效。（爱美的朋友们不要错过哦~）蛋白包含维生素B6，B12，以及核黄素和叶酸。核黄素是身体细胞生长所必需的元素。而叶酸对维持心脏健康很重要。所以吃费南雪对身体有益哦。</p>
            </div>
            <div class="item item-image">
                <img src="../img/banner1-8.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>如果想要只靠一块黄油，就能让点心拥有特殊的迷人风味？，除了发酵黄油，还有一种费南雪自带的光芒，那就是焦化黄油（黄油用小锅煮至焦黄）~只要简单几步，让普通黄油变成带有榛果香气的焦化黄油，你的点心，也会大有不同哟~这也就是费南雪为何金灿灿的原因之一啦。

                </p>
            </div>
            <div class="item item-image">
                <img src="../img/banner1-9.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>不仅是因为被焦化的黄油，原料中有杏仁粉，我现在看到有两种处理方式，一种是书上所说的直接过筛拌入，还有一种就是将杏仁粉烤焦后过筛拌入，烤过的更有焦香味，但如果不想吃得太热，就试试直接过筛拌入的方法吧~是时候开启费南雪之旅了。
                </p>
            </div>
            <div class="item item-image">
                <img src="../img/banner1-10.jpg">
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>静心莲</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-11.jpg">
                <h3>费南雪</h3>
                <p>
                    <a href="#" class="subdued">       Financier。英语中金融家，财政家的意思，也是这个小茶点的正名。中文翻译中常称它为“费南雪”。费南雪是一款颇有来历的法国小糕点。费南雪最原始的配方源自一款叫做“visitandine”的蛋糕,由Visitation修道院的修女们独创。烘焙师Lasne不但把配方“不告而取”,而且根据自己烘焙店的所在地和顾客群,将其改头换面,做成金条形状,换上和金融有关的新名字“financier”,转眼就成了他名下的一款法国经典点心。最初的Financier做得很像缩小版的金条，是巴黎证券交易所附近的蛋糕师傅发明的茶点,据说是为了让那些在证券交易所的金融家们能快速食完并不弄脏他们的西装。而糕点本身也做成金条状，颇有寓意。费南雪的面糊有一大好处是可以放冰箱冷藏,要吃的时候都随取随用，费南雪花样繁多，已远不止传统的形状和单一口味了，人们在里面加入各式香料、水果、巧克力、坚果及香草、焦糖以变化出层出不穷的多样口味。费南雪的制作极其简单，只需提前将原料准备好并逐项搅拌即可，而且蛋糕糊可提前制作，随时取用，非常方便！但是越是简单的事物，我们越是不能轻视。</a>
                </p>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>费南雪的面糊有一大好处是可以放冰箱冷藏，要吃的时候都随取随用， 费南雪花样繁多，已远不止传统的形状和单一口味了，人们在里面加入各式香料、水果、巧克力、坚果及香草、焦糖以变化出层出不穷的多样口味。</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>烩烩小厨</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-12.jpg">
                <h3>费南雪</h3>
                <p>
                    <a href="#" class="subdued">       
                      费南雪（Financier):法语里是金融家的意思，所以这个蛋糕也叫金融家蛋糕，据说这款蛋糕是由证券交易所附近松岛尼大道上的蛋糕店店主拉努设计的，为了能让证券所里的金融家们方便快捷地吃到蛋糕且不弄脏衣服，这个模具也设计成了金条状长方形铸锭模样。
                        </a>
                </p>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>热情幸福de眼泪</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-13.jpg">
                <h3>蓝莓费南雪金砖蛋糕</h3>
                <p>
                    <a href="#" class="subdued">       
                        费南雪是一款颇有来历的法国小糕点。费南雪最原始的配方源自一款叫做"visitandine"的蛋糕,由Visitation修道院的修女们独创。烘焙师Lasne不但把配方"不告而取",而且根据自己烘焙店的所在地和顾客群，将其改头换面，做成金条形状，换上和金融有关的新名字"financier",转眼就成了他名下的一款法国经典点心。最初的Financier做得很像缩小版的金条，是巴黎证券交易所附近的蛋糕师傅发明的茶点,据说是为了让那些在证券交易所的金融家们能快速食完并不弄脏他们的西装。而糕点本身也做成金条状，颇有寓意。费南雪的面糊有一大好处是可以放冰箱冷藏，要吃的时候都随取随用，费南雪花样繁多，已远不止传统的形状和单一口味了，人们在里面加入各式香料、水果、巧克力、坚果及香草、焦糖以变化出层出不穷的多样口味。
                        </a>
                </p>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-14.jpg">
                <h3>红糖核桃费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-15.jpg">
                <h3>红糖核桃费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-16.jpg">
                <h3>百香果费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-17.jpg">
                <h3>红薯费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <h2>知识小拓展</h2>
                <p>从欧洲以及日本的饼店售卖的费南雪来看，完美的“费南雪”（即：金融家蛋糕），应该在充分膨胀后，表面出现些细微裂痕，并富有光泽；口感上可以充分享受到奶油及杏仁粉的香味。因此，在搅拌面糊时，要同时提高（至少要保持）面糊的温度，以使油脂和水分完全充分的乳化，待其混合均匀后，马上高温烘烤（这点上和美国人的做法有很大区别，通常美国做法是要静置隔夜后再烘烤）。</p>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                1.蛋白打发程度要掌握好，不要打过，也不要打太软。就是打发到提起蛋抽，蛋液不会掉落为止就行。
                <br> 2.黄油融化后，加热要转小火，焦化程度掌握得越好，成品越好吃。不过很容易煮过头，一定要全神贯注。
                <br> 3.后期黄油降温加入后两个温度要掌握好，最好配温度计。
                <br> 4.烤的时间温度根据自己烤箱调节，烤完颜色要是金黄色的。
            </div>
            <div class="item item-image">
                <img class="full-image" src="../img/banner1-18.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>准备开动吧，这款为金融家而生的费南雪~</p>
            </div>
        </div>
    </ion-content>
</ion-view>