<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></buttoicon n>
        </div>
        <h1 class="title text-center">咸奶油蛋糕</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-image">
                <img src="../img/banner2.jpg">
            </div>
            <div class="item item-body">
                <p>这样的怀旧有点咸，咸奶油蛋糕</p>
                <p>
                    <a href="#" class="subdued">提起咸奶油蛋糕，一定会勾起许多人儿时的美好回忆，在那个纯真的年代，有一款甜中带咸咸中带甜非常好吃的奶油蛋糕——咸奶油蛋糕，此时吃上一口，味蕾一定会打开在脑子里尘封的岁月中的一抹记忆。怀旧的情绪就这么铺展开来...</a>
                </p>
            </div>

        </div>
      
        <div class="list">
            <div class="item item-body">
                <p>昆明的焙友对咸蛋糕的感受一定更甚，这要追溯到二战时期，大半个中国都被战火荼毒，当时昆明这个西南小城变成了中国抗战的大后方，自然就会有大量的外来物资涌入，当然就不乏许多当时新潮的“洋货”。咸奶油蛋糕便是其一，当时大名鼎鼎的飞虎队援华抗战，同时也把他们美国的黄油蛋糕带进了昆明。</p>
            </div>
            <div class="item item-image">
                <img src="../img/banner2-1.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>故而昆明人接触西点的时间比很多国内其他地方的人都早。战时，盟军通过‘驼峰航线’从印度向昆明运输抗战物资，咸奶油蛋糕作为当时配给飞虎队的食物之一，一般都是被放在汽油桶中进行运输的。
                </p>
            </div>
            <div class="item item-image">
                <img src="../img/banner2-2.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>焙友们一定知道奶油这种食物存储是个大难题，更何况是抗战时期。以抗战时期的食物存储条件，更可以追溯到二战之前，乳制品的保存是个难题。而在奶油中加盐，就可以起到抑制微生物滋生的作用，延长奶油的保质期限，同时也增加了它的风味，是比较适合当时的一种存储方法。
                </p>
            </div>
            <div class="item item-image">
                <img src="../img/banner2-3.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>所以，咸奶油蛋糕不但风味独特，更意味着里面的添加剂更少，吃着更健康。小时候吃过的焙友一定会勾起怀旧的情怀，咸奶油蛋糕的奶油略硬，蛋糕也略硬，泛着微微黄色的奶油是咸味与甜味交织的，咬一口，随着体温加热，咸香的奶油慢慢融化于口中，奶油的绵滑、细腻、香甜也一齐绽开开来，香甜带微咸，香浓厚重，入口即化~ </p>
            </div>
            <div class="item item-image">
                <img src="../img/banner2-4.jpg">
            </div>
        </div>
         <div class="list">
            <div class="item item-body">
                <p>咸奶油蛋糕又被称作老奶油蛋糕，当时的经典，唯一的装饰就是用奶油挤出来的花朵或者花边，所以如果要将怀旧进行到底，一定要做一份表面只有奶油装饰的咸奶油蛋糕。咸奶油蛋糕不同于一般的淡奶油蛋糕和鲜奶油蛋糕，咸奶油用的是加盐黄油和鲜奶油一起制作，并且制作方式和一般的奶油相比比起来会更复杂一点，最终，香甜又微咸且更为厚重的咸奶油就诞生~</p>
            </div>
            <div class="item item-image">
                <img src="../img/banner2-5.jpg">
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>静心莲</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/name2.jpg">
                <h3>咸奶油裸蛋糕</h3>
                <p>
                    <a href="#" class="subdued">配方做法来自：我是三皮@下厨房</a>
                </p>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>费南雪的面糊有一大好处是可以放冰箱冷藏，要吃的时候都随取随用， 费南雪花样繁多，已远不止传统的形状和单一口味了，人们在里面加入各式香料、水果、巧克力、坚果及香草、焦糖以变化出层出不穷的多样口味。</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>烩烩小厨</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner2-7.jpg">
                <h3>咸奶油蛋糕</h3>
                <p>
                    <a href="#" class="subdued">       
                     配方做法来自：zsx阿咩咩@下厨房 </a>
                </p>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>热情幸福de眼泪</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-13.jpg">
                <h3>蓝莓费南雪金砖蛋糕</h3>
                <p>
                    <a href="#" class="subdued">       
                        费南雪是一款颇有来历的法国小糕点。费南雪最原始的配方源自一款叫做"visitandine"的蛋糕,由Visitation修道院的修女们独创。烘焙师Lasne不但把配方"不告而取",而且根据自己烘焙店的所在地和顾客群，将其改头换面，做成金条形状，换上和金融有关的新名字"financier",转眼就成了他名下的一款法国经典点心。最初的Financier做得很像缩小版的金条，是巴黎证券交易所附近的蛋糕师傅发明的茶点,据说是为了让那些在证券交易所的金融家们能快速食完并不弄脏他们的西装。而糕点本身也做成金条状，颇有寓意。费南雪的面糊有一大好处是可以放冰箱冷藏，要吃的时候都随取随用，费南雪花样繁多，已远不止传统的形状和单一口味了，人们在里面加入各式香料、水果、巧克力、坚果及香草、焦糖以变化出层出不穷的多样口味。
                        </a>
                </p>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-14.jpg">
                <h3>红糖核桃费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-15.jpg">
                <h3>红糖核桃费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-16.jpg">
                <h3>百香果费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="../img/t013bc6eb38a4adc35f.jpg">
                <h2>发现好配方</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/banner1-17.jpg">
                <h3>红薯费南雪</h3>
                <a class="item  assertive" href="#">
                    <i class="icon ion-link"></i> 配方详情
                </a>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <h2>知识小拓展</h2>
                <p>从欧洲以及日本的饼店售卖的费南雪来看，完美的“费南雪”（即：金融家蛋糕），应该在充分膨胀后，表面出现些细微裂痕，并富有光泽；口感上可以充分享受到奶油及杏仁粉的香味。因此，在搅拌面糊时，要同时提高（至少要保持）面糊的温度，以使油脂和水分完全充分的乳化，待其混合均匀后，马上高温烘烤（这点上和美国人的做法有很大区别，通常美国做法是要静置隔夜后再烘烤）。</p>
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                1.蛋白打发程度要掌握好，不要打过，也不要打太软。就是打发到提起蛋抽，蛋液不会掉落为止就行。
                <br> 2.黄油融化后，加热要转小火，焦化程度掌握得越好，成品越好吃。不过很容易煮过头，一定要全神贯注。
                <br> 3.后期黄油降温加入后两个温度要掌握好，最好配温度计。
                <br> 4.烤的时间温度根据自己烤箱调节，烤完颜色要是金黄色的。
            </div>
            <div class="item item-image">
                <img class="full-image" src="../img/banner1-18.jpg">
            </div>
        </div>
        <div class="list">
            <div class="item item-body">
                <p>准备开动吧，这款为金融家而生的费南雪~</p>
            </div>
        </div>
    </ion-content>
</ion-view>