<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></buttoicon n>
        </div>
        <h1 class="title text-center">蛋糕</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list card" style="margin-top: 20px;">
            <div class="row text-center">
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake1.jpg">
                        </div>
                        <p>蛋糕</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake2.jpg">
                        </div>
                        <p>饼干</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake3.jpg">
                        </div>
                        <p>面包</p>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake1.jpg">
                        </div>
                        <p>蛋糕</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake2.jpg">
                        </div>
                        <p>饼干</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake3.jpg">
                        </div>
                        <p>面包</p>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake1.jpg">
                        </div>
                        <p>蛋糕</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake2.jpg">
                        </div>
                        <p>饼干</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake3.jpg">
                        </div>
                        <p>面包</p>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake1.jpg">
                        </div>
                        <p>蛋糕</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake2.jpg">
                        </div>
                        <p>饼干</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake3.jpg">
                        </div>
                        <p>面包</p>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake1.jpg">
                        </div>
                        <p>蛋糕</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake2.jpg">
                        </div>
                        <p>饼干</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake3.jpg">
                        </div>
                        <p>面包</p>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake1.jpg">
                        </div>
                        <p>蛋糕</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake2.jpg">
                        </div>
                        <p>饼干</p>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <div class="item item-image">
                            <img src="../img/cake3.jpg">
                        </div>
                        <p>面包</p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>