<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear" ng-click="goBack()"><i class="icon ion-ios-arrow-back"></i></buttoicon n>
        </div>
        <h1 class="title text-center">巧克力布朗尼</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list card">
            <div class=" item item-body ">
                <img class="full-image " src="../img/name1.jpg ">
                <h2>巧克力布朗尼</h2>
                <div class="item item-avatar ">
                    <img src="../img/t013bc6eb38a4adc35f.jpg ">
                    <p>九色鹿</p>
                </div>
                <p>
                    喜甜但不嗜甜，
                    <br> 每个月却也总有那么几天超级想念甜甜的味道。
                    <br> 于是抓紧动手为自己做了这款布朗尼，
                    <br> 热量虽然高了些，但口味却是非常喜欢滴。
                    <br>配上一杯咖啡来上一块很是满足！
                    <br>用了PH大师的配方，
                    <br>减少了配方中糖的含量，口感正合适。
                    <br>个人感觉可把配方中的砂糖换做糖粉，
                    <br>搅拌起来更容易。
                    <br>成品表皮有酥皮的感觉，内容却很湿润。
                    <br> 值得收藏的配方！
                </p>
            </div>
        </div>
        <div class="list card ">
            <div class="item item-divider ">
                准备用具
            </div>
            <a class="item " href="# ">烤箱</a>
            <a class="item " href="# ">奶锅</a>
            <a class="item " href="# ">电子秤</a>
            <a class="item " href="# ">不占烤盘</a>
            <a class="item " href="# ">面粉筛</a>
            <a class="item " href="# ">刮刀</a>
            <a class="item " href="# ">搅拌盆</a>
            <a class="item " href="# ">瓷碗</a>
            <a class="item " href="# ">磅蛋糕模具</a>
        </div>
        <div class="list card ">
            <a class="item " href="# ">准备原料：分量/1份</a>
            <div class="item item-divider ">
                默认分组
            </div>
            <div class="list ">
                <a class="item " href="# ">
                     黄油
                    <span class="item-note ">125克</span>
                </a>
                <a class="item " href="# ">
                     巧克力
                    <span class="item-note ">70克</span>
                </a>
                <a class="item " href="# ">
                    细砂糖
                    <span class="item-note ">80克</span>
                </a>
                <a class="item " href="# ">
                    低筋面粉
                    <span class="item-note ">60克</span>
                </a>
                <a class="item " href="# ">
                    核桃仁
                    <span class="item-note ">100克</span>
                </a>
                <a class="item " href="# ">
                    鸡蛋
                    <span class="item-note ">2个</span>
                </a>
            </div>
        </div>
        <div class="list card ">

            <div class="item ">
                <h2>开始做吧！</h2>
            </div>
            <div class="item item-body ">
                <p>1、核桃仁100克平铺于烤盘内，150度烤8-10分钟烤出香味备用。</p>
                <img class="full-image " src="../img/ff1.jpg ">
                <p>2、巧克力隔40度热水融化，放至微凉备用。</p>
                <img class="full-image " src="../img/ff2.jpg ">
                <p>3、黄油室温软化到位（软化好的黄油如牙膏状非常软），用刮刀搅拌至颜色微白。</p>
                <img class="full-image " src="../img/ff3.jpg ">
                <p>4、加入隔水融化的黑巧克力，拌匀。</p>
                <img class="full-image " src="../img/ff4.jpg ">
                <p>5、加入细砂糖，拌匀。</p>
                <img class="full-image " src="../img/ff5.jpg ">
                <p>6、将鸡蛋打散，分多次加入，拌匀后再加下一次。</p>
                <img class="full-image " src="../img/ff6.jpg ">
                <p>7、加入过筛的低粉，拌匀。</p>
                <img class="full-image " src="../img/ff7.jpg ">
                <p>8、加入事先烤熟的核桃仁，拌匀。</p>
                <img class="full-image " src="../img/ff8.jpg ">
                <p>9、装入模具，入预热好的烤箱180度30分钟左右。</p>
                <img class="full-image " src="../img/ff9.jpg ">
                <p>
                    <a href="# " class="subdued "><i class="ion ion-ios-heart-outline "></i></a>
                    <a href="# " class="subdued ">1523</a>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>