<ion-view title="注册" hide-back-button="false">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button>返回</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list" style="opacity: 0.7;">
            <label class="item item-input">
                <span class="input-label"><i class="ion-android-phone-portrait"></i> :</span>
                <input type="text" placeholder="请输入手机号" ng-model="user.username" ng-blur="checkUsername()">
             </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-locked"></i> :</span>
                <input type="text" placeholder="请输入密码" ng-model="user.password">
            </label>
            <label class="item item-input">
                <span class="input-label"><i class="icon ion-person"></i> :</span>
                <input type="text" placeholder="请输入昵称" ng-model="user.nickname">
            </label>
        </div>
        <div style="opacity: 0.7;">
            <botton class="button button-block full button-positive" ng-click="signup()">注册成功</botton>
        </div>
    </ion-content>
</ion-view>